* {
  box-sizing: border-box;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.header {
  background-color: rgb(17, 15, 15);
  display: flex;
  height: 70px;
  justify-content: space-between;
  padding: 10px 30px;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
}

.logo {
  height: 50px;
}

.btn-header {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 16px;
  margin: 0;
  padding: 0;
  transition: .7s;
}

.btn-header:hover {
  color: rgb(253, 194, 0);
}

.header ul {
  align-items: center;
  display: flex;
  list-style: none;
  margin-top: 20px;
}

.header li {
  margin-right: 40px;
}

.menu-btn {
  display: none;
}
