* {
  box-sizing: border-box;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  background-image: url('../images/marvelBgNew.png');
  background-repeat: no-repeat;
  background-size: 110%;
  font-family: 'Roboto', sans-serif;
}

main {
  width: 1366;
  margin: auto;
}

.form-container {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
  background-repeat: no-repeat;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: 500px;
  margin: 100px auto 80px;
  padding: 5px;
  width: 25.7%;
}

.form-title {
  background-image: url('../images/marvelLogo.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  height: 150px;
  width: 100%;
}

.form-title span {
  color: rgb(255, 208, 0);
  font-family: 'Chewy', cursive;
  font-size: 40px;
  margin-left: 53%;
  margin-top: 100px;
  text-shadow: 2px 2px 0 black;
}

.form {
  margin-top: 25px;
  width: 90%;
}

.form label {
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
}

.form input {
  border: none;
  border-bottom: 1px solid black;
  font-size: 16px;
  margin: 15px 10px 5px;
  padding: 5px 0 5px 10px;
  width: 94%;
}

.btn-container {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

.btn-success {
  background-color: rgb(2, 173, 2);
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-weight: bold;
  height: 40px;
  margin-top: 10px;
  width: 40%;
}

button:disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.redirect-container a {
  margin: 0 10px;
}

.form-profile {
  margin: 50px auto;
}

.profile-input-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 90%;
}

.profile-input-container p {
  font-weight: bold;
  margin-right: 10px;
  text-align: start;
}

.profile-title {
  margin-bottom: 40px;
}

.profile-btn {
  background-color: rgb(216, 3, 3);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  color: white;
  height: 22px;
  padding: 0 20px;
}

.profile-label {
  font-size: 16px;
  margin-bottom: 5px;
}

.profile-input {
  font-size: 16;
  margin: 0 10px 5px;
}

.profile-p-content {
  flex-grow: 2;
}

.error {
  color: red;
  font-weight: bold;
  margin: auto;
  padding-bottom: 10px;
  text-align: center;
}

@media (min-width: 1367px) {
  html {
    background-color: black;
  }

  body {
    margin: 0 auto;
    height: 85vh;
    width: 75%;
  }

  .form-container {
    height: 550px;
    position: relative;
    top: 50px;
  }

  .form-title {
    height: 150px;
  }

  .form-title span {
    margin-top: 100px;
  }

  .profile-main {
    margin-bottom: 250px;
  }
}
