* {
  box-sizing: border-box;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.search-box-container {
  align-items: center;
  background-color: white;
  box-shadow: 2px 0 5px black;
  display: flex;
  height: 50px;
  justify-content: flex-end;
  padding: 0 50px;
}

.search-bar-container {
  position: sticky;
  top: 70px;
}

.btn-search {
  background-color: rgb(61, 1, 1);
  border-radius: 10px;
  border: none;
  color: white;
  height: 30px;
  width: 80px;
}

.search-form {
  width: 250px;
}

.search-input {
  height: 27px;
  width: 220px;
}
